.header-top {
    background-color: #5C5C5C;
    border: none;
    border-radius: 0;
    padding: 1em 0 2em 0;
    margin-bottom: 2%;
}

.logo-icon {
    color: #F2B705;
    font-size: 1.5em;
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.header-title h1 {
    display: inline;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
}

.logout-container {
    color: white;
    margin-top: 5px;
}
.logout-container button {
    font-size: 1em;
    margin-top: -3px;
}
.login-button {
    margin-top: 3px;
}